theme "kanagawa"

themes {
    everforest-dark {
        bg "#2b3339"
        fg "#d3c6aa"
        black "#16161d"
        red "#e67e80"
        green "#a7c080"
        yellow "#dbbc7f"
        blue "#7fbbb3"
        magenta "#d699b6"
        cyan "#83c092"
        white "#d3c6aa"
        orange "#FF9E64"
    }
    
    kanagawa {
        bg "#1f1f28"
        fg "#dcd7ba"
        black "#1f1f28"
        red "#c34043"
        green "#76946a"
        yellow "#dca561"
        blue "#7e9cd8"
        magenta "#957fb8"
        cyan "#6a9589"
        white "#dcd7ba"
        orange "#ffa066"
    }
}

keybinds {
    normal {
        unbind "Alt h" "Alt j" "Alt l" "Ctrl p" "Ctrl t"
        unbind "Alt Right" "Alt Left" "Alt Up" "Alt Down"
        unbind "Alt n" "Alt o" "Alt e" "Alt i" "Alt N" "Alt O" "Alt k" "Alt K"
        unbind "Ctrl n" "Ctrl h"
//      bind "Alt n" { MoveFocus "Left"; }
//      bind "Alt o" { MoveFocus "Right"; }
//      bind "Alt e" { MoveFocus "Down"; }
//      bind "Alt i" { MoveFocus "Up"; }
//      bind "Alt N" { GoToPreviousTab; }
//      bind "Alt O" { GoToNextTab; }
//      bind "Alt k" { NewPane; }
//      bind "Alt K" { NewTab; }
        bind "Alt ," { FocusPreviousPane; }
        bind "Alt ." { FocusNextPane; }
        bind "Alt <" { GoToPreviousTab; }
        bind "Alt >" { GoToNextTab; }
        bind "Alt '" { NewPane; }
        bind "Alt \"" { NewTab; }
        bind "Alt `" { SwitchToMode "pane"; }
        bind "Alt ~" { SwitchToMode "tab"; }
        bind "Ctrl q" { SwitchToMode "resize"; }
        bind "Alt -" {
            LaunchOrFocusPlugin "file:/home/pantaelaman/.config/zellij/plugins/monocle.wasm" {
                floating true
            };
            SwitchToMode "normal";
        }
        bind "Alt =" {
            LaunchOrFocusPlugin "file:/home/pantaelaman/.config/zellij/plugins/monocle.wasm" {
                in_place true
                kiosk true
            };
            SwitchToMode "normal";
        }
        bind "Alt ?" {
            LaunchOrFocusPlugin "file:/home/pantaelaman/.config/zellij/plugins/zellij_forgot.wasm" {
                "switch pane"           "alt + ,."
                "switch tab"            "alt + <>"
                "lock"                  "ctrl + g"
                "unlock"                "ctrl + g"
                "new pane"              "alt + ` > k"
                "close pane"            "alt + ` > x"
                "switch pane"           "alt + ` > neio"
                "rename pane"           "alt + ` > c"
                "toggle fullscreen"     "alt + ` > f"
                "toggle floating"       "alt + ` > w"
                "toggle embed"          "alt + ` > m"
                "new tab"               "alt + ~ > k"
                "close tab"             "alt + ~ > x"
                "switch tab"            "alt + ~ > no"
                "rename tab"            "alt + ~ > r"
                "sync tab"              "alt + ~ > s"
                "break pane to tab"     "alt + ~ > b"
                "break pane left"       "alt + ~ > ["
                "break pane right"      "alt + ~ > ]"
                "toggle tab"            "alt + ~ > tab"
                "increase pane size"    "ctrl + q > +"
                "decrease pane size"    "ctrl + q > -"
                "increase pane top"     "ctrl + q > i"
                "increase pane right"   "ctrl + q > o"
                "increase pane bottom"  "ctrl + q > e"
                "increase pane left"    "ctrl + q > n"
                "decrease pane top"     "ctrl + q > I"
                "decrease pane right"   "ctrl + q > O"
                "decrease pane bottom"  "ctrl + q > E"
                "decrease pane left"    "ctrl + q > N"
                "move pane to top"      "ctrl + h > i"
                "move pane to right"    "ctrl + h > o"
                "move pane to bottom"   "ctrl + h > e"
                "move pane to left"     "ctrl + h > n"
                "search"                "ctrl + s > s"
                "go into edit mode"     "ctrl + s > e"
                "go into resize mode"   "ctrl + m"
                "detach session"        "ctrl + o > w"
                "open session manager"  "ctrl + o > w"
                "quit zellij"           "ctrl + q"
                floating true
            }
        }
    }

    pane {
        unbind "h" "j" "l"
        bind "n" { MoveFocus "Left"; }
        bind "o" { MoveFocus "Right"; }
        bind "e" { MoveFocus "Down"; }
        bind "i" { MoveFocus "Up"; }
        bind "N" { MovePane "Left"; }
        bind "O" { MovePane "Right"; }
        bind "E" { MovePane "Down"; }
        bind "I" { MovePane "Up"; }
        bind "k" { NewPane; }
        bind "m" { TogglePaneEmbedOrFloating; }
    }

    tab {
        unbind "h" "j" "l"
        bind "n" { GoToNextTab; }
        bind "o" { GoToPreviousTab; }
        bind "k" { NewTab; }
    }

    resize {
        unbind "h" "j" "k" "l" "H" "J" "K" "L"
        bind "n" { Resize "Left"; }
        bind "o" { Resize "Right"; }
        bind "e" { Resize "Down"; }
        bind "i" { Resize "Up"; }
    }
}
