:root {
    --primary: #d3c6aa;
    --accent: #a7c080;
    --bg-dark: #232a2e;
    --bg-light: #343f44;
    --highlight: #543a48;
}

* {
  color: #dcd7ba;
  font-family: SauceCodePro Nerd Font Mono, monospaced;
  outline: none !important;
}

window {
  background-color: #1f1f28;
  border: 2px solid #957fb8;
}

#outer-box {
  padding: 5px;
}

#input {
  background-color: #363646;
  border-radius: 0px;
  border: none;
  border-bottom: 2px solid #957fb8;
  padding-bottom: 2px;
}

#entry:selected {
  background-color: #543a48;
}
